# Introduction to Python programming

## Python program files

* Python code is usually stored in text files with the file ending "`.py`":

        myprogram.py

* Every line in a Python program file is assumed to be a Python statement, or part thereof. 

    * The only exception is comment lines, which start with the character `#` (optionally preceded by an arbitrary number of white-space characters, i.e., tabs or spaces). Comment lines are usually ignored by the Python interpreter.


* To run our Python program from the command line we use:

        $ python3 myprogram.py

* On UNIX systems it is common to define the path to the interpreter on the first line of the program (note that this is a comment line as far as the Python interpreter is concerned):

        #!/usr/bin/env python

  If we do, and if we additionally set the file script to be executable, we can run the program like this:

        $ myprogram.py

## Modules

Most of the functionality in Python is provided by *modules*. The Python Standard Library is a large collection of modules that provides *cross-platform* implementations of common facilities such as access to the operating system, file I/O, string management, network communication, and much more.

### References

 * The Python Language Reference: http://docs.python.org/3/reference/index.html
 * The Python Standard Library: http://docs.python.org/3/library/

To use a module in a Python program it first has to be imported. A module can be imported using the `import` statement. For example, to import the module `math`, which contains many standard mathematical functions, we can do:

In [ ]:
import math as mt

This includes the whole module and makes it available for use later in the program. For example, we can do:

In [ ]:
x = mt.cos(2 * mt.pi)

print(x)

Alternatively, we can chose to import all symbols (functions and variables) in a module to the current namespace (so that we don't need to use the prefix "`math.`" every time we use something from the `math` module:

In [ ]:
from math import *

x = cos(2 * pi)

print(x)

This pattern can be very convenient, but in large programs that include many modules it is often a good idea to keep the symbols from each module in their own namespaces, by using the `import math` pattern. This would elminate potentially confusing problems with name space collisions.

As a third alternative, we can chose to import only a few selected symbols from a module by explicitly listing which ones we want to import instead of using the wildcard character `*`:

In [ ]:
from math import cos, pi

x = sin(2 * pi)

print(x)

### Looking at what a module contains, and its documentation

Once a module is imported, we can list the symbols it provides using the `dir` function:

In [ ]:
import math

print(dir(math))

And using the function `help` we can get a description of each function (almost .. not all functions have docstrings, as they are technically called, but the vast majority of functions are documented this way).

In [ ]:
help(math.log)

In [ ]:
math.log(10)

In [ ]:
math.log(10, 2)

We can also use the `help` function directly on modules: Try

    help(math)

In [ ]:
help (math)

Some very useful modules form the Python standard library are `os`, `sys`, `math`, `shutil`, `re`, `subprocess`, `multiprocessing`, `threading`. 

A complete lists of standard modules for Python 2 and Python 3 are available at http://docs.python.org/2/library/ and http://docs.python.org/3/library/, respectively.

## Variables and types

### Symbol names

Variable names in Python can contain alphanumerical characters `a-z`, `A-Z`, `0-9` and some special characters such as `_`. Normal variable names must start with a letter. 

By convention, variable names start with a lower-case letter, and Class names start with a capital letter. 

In addition, there are a number of Python keywords that cannot be used as variable names. These keywords are:

    and, as, assert, break, class, continue, def, del, elif, else, except, 
    exec, finally, for, from, global, if, import, in, is, lambda, not, or,
    pass, print, raise, return, try, while, with, yield

**Note:** Be aware of the keyword `lambda`, which could easily be a natural variable name in a scientific program. But being a keyword, it cannot be used as a variable name.

**Note:** Be careful in using `range` as variable: it is allowed but it will erase the `range` command!

### Assignment



The assignment operator in Python is `=`. Python is a <font color='red'> dynamically typed language</font>, so we do not need to specify the type of a variable when we create one.

Assigning a value to a new variable creates the variable:

In [ ]:
# variable assignments
x = 1
my_variable = 12.2

Although not explicitly specified, a variable does have a type associated with it. The type is derived from the value that was assigned to it.

In [ ]:
type(my_variable)

If we assign a new value to a variable, its type can change.

In [ ]:
x = 1.1

In [ ]:
type(x)

If we try to use a variable that has not yet been defined we get an `NameError`:

In [ ]:
print(y)

### Fundamental types

In [ ]:
# integers
x = 1
type(x)

In [ ]:
# float
x = 1.0
type(x)

In [ ]:
# boolean
b1 = True
b2 = False

type(b1)

In [ ]:
# complex numbers: note the use of `j` to specify the imaginary part
x = 1.0 - 1.0j
type(x)

In [ ]:
print(x)

In [ ]:
print(x.real, x.imag)

### Type utility functions


The module `types` contains a number of type name definitions that can be used to test if variables are of certain types:

In [ ]:
import types

# print all types defined in the `types` module
print(dir(types))

In [ ]:
x = 1.0

# check if the variable x is a float
type(x) is float

In [ ]:
# check if the variable x is an int
type(x) is int

We can also use the `isinstance` method for testing types of variables:

In [ ]:
isinstance(x, float)

### Type casting

In [ ]:
x = 1.9

print(x, type(x))

In [ ]:
x = int(x)

print(x, type(x))

In [ ]:
z = complex(x)

print(z, type(z))

In [ ]:
x = float(z)

Complex variables cannot be cast to floats or integers. We need to use `z.real` or `z.imag` to extract the part of the complex number we want:

In [ ]:
y = bool(z.real)

print(z.real, " -> ", y, type(y))

y = bool(z.imag)

print(z.imag, " -> ", y, type(y))

## Operators and comparisons

Most operators and comparisons in Python work as one would expect:

* Arithmetic operators `+`, `-`, `*`, `/`, `//` (integer division), '**' power

In [ ]:
1 + 2, 1 - 2, 1 * 2, 1 / 2, 10%3

In [ ]:
1.0 + 2, 1.0 - 2.0, 1.0 * 2.0, 1.0 / 2.0

In [ ]:
# Integer division of float numbers
3.0 // 2.0

In [ ]:
# Note! The power operators in python isn't ^, but **type
type(2 ** 128)

**Note**: The `/` operator always performs a floating point division in Python 3.x.
This is not true in Python 2.x, where the result of `/` is always an integer if the operands are integers.
To be more specific, `1/2 = 0.5` (`float`) in Python 3.x, and `1/2 = 0` (`int`) in Python 2.x (but `1.0/2 = 0.5` in Python 2.x).

* The boolean operators are spelled out as the words `and`, `not`, `or`.

In [ ]:
True and False

In [ ]:
not False

In [ ]:
True or False

* Comparison operators `>`, `<`, `>=` (greater or equal), `<=` (less or equal), `==` equality, `!=` not equal and `is` identical.

In [ ]:
2 > 1, 2 < 1

In [ ]:
2 > 2, 2 < 2

In [ ]:
2 >= 2, 2 <= 2

In [ ]:
x = 10
1 < x < 20

In [ ]:
a = None
type(a)

In [ ]:
# equality
[1,2] == [1,2]

In [ ]:
# objects identical?
l1 = l2 = [1,2]
l3 = [1,2]
l1 == l3

In [ ]:
# objects identical?
l1 is l3

In [ ]:
l1 is l2

In [ ]:
l2[1]=5
print(l1)

[1, 5]

In [ ]:
x = 10
y = None

(x is None, y is None)

## Compound types: Strings, List and dictionaries

### Strings

Strings are the variable type that is used for storing text messages.

In [ ]:
s = "Hello world"
type(s)

str

In [ ]:
# length of the string: the number of characters
len(s)

11

In [ ]:
# replace a substring in a string with something else
s2 = s.replace("world", "test")
s1 = s2
s1 = s1.replace("test", "world")
print(s1)
print(s2)

Hello world
Hello test

We can index a character in a string using `[]`:

In [ ]:
s[0], s[1], s[len(s)-1]

('H', 'e', 'd')

**Warning MATLAB users:** Indexing start at 0!

We can extract a part of a string using the syntax `[start:stop]`, which extracts characters between index `start` and `stop` -1 (the character at index `stop` is not included):

In [ ]:
s[0:11]

'Hello world'

In [ ]:
s[2:]

'llo world'

If we omit either (or both) of `start` or `stop` from `[start:stop]`, the default is the beginning and the end of the string, respectively:

In [ ]:
s[:]

'Hello world'

In [ ]:
s[-5:]

'world'

In [ ]:
s[:]

We can also define the step size using the syntax `[start:end:step]` (the default value for `step` is 1, as we saw above):

In [ ]:
s[::-1]

'dlrow olleH'

In [ ]:
s[:7:2]

'Hlow'

In [ ]:
s1 = s[0:2] + 'x' + s[3:]
print(s1)

Hexlo world

This technique is called *slicing*. Read more about the syntax here: 
https://docs.python.org/3/library/functions.html?highlight=slice#slice

Python has a very rich set of functions for text processing. See for example http://docs.python.org/3/library/string.html for more information.

#### String formatting examples

In [ ]:
print("str1", "str2", "str3")  # The print statement concatenates strings with a space

str1 str2 str3

In [ ]:
print("str1", 1.0, False, -1j)  # The print statements converts all arguments to strings

str1 1.0 False (-0-1j)

In [ ]:
print("str1 " + "str2" +" "+ "str3") # strings added with + are concatenated without space

str1 str2 str3

In [ ]:
print("value = %d" % 1.0)       # we can use C-style string formatting

value = 1

In [ ]:
# this formatting creates a string
s2 = "value1 = %.2f. value2 = %d" % (3.1415, 1.5)

print(s2)

value1 = 3.14. value2 = 1

In [ ]:
# alternative, more intuitive way of formatting a string 
s3 = 'value1 = {y} value2 = {x:d}'.format(x=int(3.1415), y=1.5)

print(s3)

value1 = 1.5 value2 = 3

In [ ]:
a=2
b=3
c= a+b
print(c)
a=4321
print(c)

5
5

### List

Lists are very similar to strings, except that each element can be of any type.

The syntax for creating lists in Python is `[...]`:

In [ ]:
l = [1,2,3,4,'a']

print(type(l))
print(l)

<class 'list'>
[1, 2, 3, 4, 'a']

We can use the same slicing techniques to manipulate lists as we could use on strings:

In [ ]:
print(l)

print(l[1:3])

print(l[::2])

[1, 2, 3, 4, 'a']
[2, 3]
[1, 3, 'a']

**Warning MATLAB users:** Indexing starts at 0!

In [ ]:
l1 = l
l[0] = 2
print(l)
print(l1)

[2, 2, 3, 4, 'a']
[1, 2, 3, 4, 'a']

Elements in a list do not all have to be of the same type:

In [ ]:
l = [1, 'a', 1.0, 1-1j]

print(l)

Python lists can be inhomogeneous and arbitrarily nested:

In [ ]:
nested_list = [1, [2, [3, [4, [5]]]]]

nested_list

[1, [2, [3, [4, [5]]]]]

In [ ]:
x = [1,]
x.append(x[:])
print(x)
print(x[1])

[1, [1]]
[1]

Lists play a very important role in Python. For example they are used in loops and other flow control structures (discussed below). There are a number of convenient functions for generating lists of various types, for example the `range` function:

In [ ]:
start = 10
stop = 30
step = 2

print(range(start, stop, step))
list(range(start,stop,step))

range(10, 30, 2)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [ ]:
# in python 3 range generates an iterator, which can be converted to a list using 'list(...)'.
# It has no effect in python 2
list(range(start, stop, step))

In [ ]:
list(range(-10, 10))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
s="Hello world"

In [ ]:
# convert a string to a list by type casting:
s2 = list(s)

s2

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [ ]:
# sorting lists
s2.sort()

print(s2)

[' ', 'H', 'd', 'e', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

#### Adding, inserting, modifying, and removing elements from lists

In [ ]:
# create a new empty list
l = []

# add an elements using `append`
l.append("A")
l.append("d")
l.append("d")

print(l)

['A', 'd', 'd']

We can modify lists by assigning new values to elements in the list. In technical jargon, **lists are mutable**.

In [ ]:
l[1] = "p"
l[2] = "p"

print(l)

['A', 'p', 'p']

In [ ]:
l[1:3] = ["d", "d"]

print(l)

['A', 'd', 'd']

Insert an element at a specific index using `insert`

In [ ]:
l.insert(0, "i")
l.insert(1, "n")
l.insert(2, "s")
l.insert(3, "e")
l.insert(4, "r")
l.insert(5, "t")

print(l)

['i', 'n', 's', 'e', 'r', 't', 'A', 'd', 'd']

Remove first element with specific value using 'remove'

In [ ]:
l.remove("d")

print(l)

['i', 'n', 's', 'e', 'r', 't', 'A', 'd']

In [ ]:
print(l)

['i', 'n', 's', 'e', 'r', 't', 'A', 'd']

Remove an element at a specific location using `del`:

In [ ]:
del l[3]
del l[4]

print(l)

['i', 'n', 's', 'r', 'A', 'd']

See `help(list)` for more details, or read the online documentation

In [ ]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

### Tuples

Tuples are like lists, except that they cannot be modified once created, that is they are <font color='red'>immutable</font>. 

In Python, tuples are created using the syntax `(..., ..., ...)` (or `..., ...` but it is better to use round brackets for readability):

In [ ]:
point = (10, 20)

print(point, type(point))

(10, 20) <class 'tuple'>

In [ ]:
point = 10, 20

print(point, type(point))

We can unpack a tuple by assigning it to a comma-separated list of variables:

In [ ]:
x, y = point

print("x =", x)
print("y =", y)

x = 10
y = 20

If we try to assign a new value to an element in a tuple we get an error:

In [ ]:
point[0]=22

TypeError: ignored

Another example

In [ ]:
# Changing tuple values
my_tuple = (4, 2, 3, [6, 5])
my_tuple[1] = 9

TypeError: ignored

In [ ]:
# However, item of mutable element can be changed
my_tuple[3][0] = 9    
print(my_tuple)

(4, 2, 3, [9, 5])

In [ ]:
# Tuples can be reassigned
my_tuple = ('P','y','t','h','o','n')

In [ ]:
# Tuple of tuple
tt = (0, 1, (0,0))
type(tt)

tuple

### Dictionaries

Dictionaries are also like lists, except that each element is a key-value pair. The syntax for dictionaries is `{key1 : value1, ...}`:

In [ ]:
params = {
    "parameter1" : 1.0,
    "parameter2" : 2.0,
    "parameter3" : 3.0,
    5 : 4.0,
}

print(type(params))
print(params)

<class 'dict'>
{'parameter1': 1.0, 'parameter2': 2.0, 'parameter3': 3.0, 5: 4.0}

In [ ]:
str(print(params["parameter1"]))

1.0

'None'

In [ ]:
print("The value of parameter 1 is " + str(params["parameter1"]))
print("parameter2 = " + str(params["parameter2"]))
print("parameter3 = " + str(params["parameter3"]))

The value of parameter 1 is 1.0
parameter2 = 2.0
parameter3 = 3.0

In [ ]:
params["parameter1"] = "A"
params["parameter2"] = "B"

# add a new entry
params["parameter4"] = "D"

print("parameter1 = " + str(params["parameter1"]))
print("parameter2 = " + str(params["parameter2"]))
print("parameter3 = " + str(params["parameter3"]))
print("parameter4 = " + str(params["parameter4"]))
print("5 = " + str(params[5]))

## Control Flow

### Conditional statements: if, elif, else

The Python syntax for conditional execution of code uses the keywords `if`, `elif` (else if), `else`:

In [ ]:
statement1 = False
statement2 = True

if statement1:
    print("statement1 is True")
    print("123")
    print("abc")
    
elif statement2:
    print("statement2 is True")
    
else:
    print("statement1 and statement2 are False")
    
print("Ciao")

statement2 is True
Ciao

For the first time, here we encounted a peculiar and unusual aspect of the Python programming language: Program blocks are defined by their indentation level. 

In Python, the extent of a code block is defined by the <font color='red'>indentation level</font> (usually a tab or say four white spaces). This means that we have to be careful to indent our code correctly, or else we will get syntax errors.

#### Examples:

In [ ]:
statement1 = statement2 = True

if statement1:
    if statement2:
        print("both statement1 and statement2 are True")

SyntaxError: ignored

In [ ]:
statement1 = statement2 = True

if (statement1==True) or (statement2==True):
        print("both statement1 and statement2 are True")

both statement1 and statement2 are True

In [ ]:
# Bad indentation!
if statement1:
    if statement2:
    print("both statement1 and statement2 are True")  # this line is not properly indented

IndentationError: ignored

In [ ]:
statement1 = False

if statement1:
    print("printed if statement1 is True")
    
    print("still inside the if block")

In [ ]:
if statement1:
    print("printed if statement1 is True")
    
print("now outside the if block")

now outside the if block

## Loops

In Python, loops can be programmed in a number of different ways. The most common is the `for` loop, which is used together with iterable objects, such as lists. The basic syntax is:

### **`for` loops**:

In [ ]:
l = [1, 2, 'A']
print(len(l))
list(range(len(l)))

3

[0, 1, 2]

In [ ]:
for i in range(len(l)):
    x = l[i]
    print(x)

1
2
A

In [ ]:
for x in l:
    print(x)

1
2
A

In [ ]:
help(zip)

Help on class zip in module builtins:

class zip(object)
 |  zip(*iterables) --> zip object
 |
 |  Return a zip object whose .__next__() method returns a tuple where
 |  the i-th element comes from the i-th iterable argument.  The .__next__()
 |  method continues until the shortest iterable in the argument sequence
 |  is exhausted and then it raises StopIteration.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [ ]:
l1 = [1, 2, 3]
l2 = ['a', 'b', 'c']
ll=zip(l1, l2)
print(ll)

<zip object at 0x7face262b190>

In [ ]:
for i, (x, y) in enumerate(ll):
    print(i,x,y)

0 1 a
1 2 b
2 3 c

The `for` loop iterates over the elements of the supplied list, and executes the containing block once for each element. Any kind of list can be used in the `for` loop. For example:

In [ ]:
for x in range(4): # by default range start at 0
    print(x)

0
1
2
3

Note: `range(4)` does not include 4 !

In [ ]:
for x in range(-3,3):
    print(x)

-3
-2
-1
0
1
2

In [ ]:
for i,word in enumerate(["scientific", "computing", "with", "python"]):
    print(i,word)

0 scientific
1 computing
2 with
3 python

To iterate over key-value pairs of a dictionary:

In [ ]:
params = {
    "parameter1" : 1.0,
    "parameter2" : 2.0,
    "parameter3" : 3.0,
    5 : 4.0,
}

#print(params.items())

for key, value in params.items():
    print(str(key) + " = " + str(value))

parameter1 = 1.0
parameter2 = 2.0
parameter3 = 3.0
5 = 4.0

Sometimes it is useful to have access to the indices of the values when iterating over a list. We can use the `enumerate` function for this:

In [ ]:
for idx, x in enumerate(range(-3,3)):
    print(idx, x)

In [ ]:
for i in range(10):
    print(i)
    if i == 4:
        break
    else:
        print("else")
print(i)

### List comprehensions: Creating lists using `for` loops:

A convenient and compact way to initialize lists:

In [ ]:
import math as mt
l1 = (x**2+mt.sin(x) for x in range(0,5))

print(type(l1))
print(list(l1))

<class 'generator'>
[0.0, 1.8414709848078965, 4.909297426825682, 9.141120008059866, 15.243197504692072]

### `while` loops:

In [ ]:
i = 1

while i < 5:
    print(i)
    
    i += 1
    
print("done")

1
2
3
4
done

Note that the `print("done")` statement is not part of the `while` loop body because of the difference in indentation.

**Exercise 1.** Let us compute the machine epsilon `eps` using `while`. Remember that the definition of $\epsilon$ is the smallest number such that $1\neq 1+\epsilon$.

In [ ]:
e=1.0
while (1+e!=1):
    e=e/2
    
print(e)

1.1102230246251565e-16

In [ ]:
import numpy as np
print(np.finfo(float).eps)

2.220446049250313e-16

See https://numpy.org/doc/stable/reference/generated/numpy.MachAr.html